@font-face {
    font-family: 'Pragmatica ExtraLight Reg';
    font-style: normal;
    font-weight: normal;
    src: local('Pragmatica ExtraLight Reg'), url(fonts/Pragmatica-ExtraLight.woff) format('woff');
}

body, h1, h1 p, #section1 h2, #section1 p, #name, #email, #cpf, #male, #fem, .radio, .product {
    margin: 0
}

body {
    margin: 0;
    background-color: #FFF;
    font-family: 'Pragmatica ExtraLight Reg';
    height: 2444px;
    width: 1500px;
}

nav {
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 399px;
    background: #707070 0% 0% no-repeat padding-box;
    opacity: 1;
}

#cut { 
    width: 0; 
    height: 0; 
    border-left: 1500px solid #FFF; 
    border-top: 117px solid transparent;
    display: flex;
} 

h1 {
    padding-top: 69px;
    color: #FFF;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

h1 span {
    padding-top: 92px;
    font-weight: bold;
    font-size: 40px;
}

h1 p {
    padding-top: 24px;
    font-weight: 300;
    font-size: 14px;
}

.box {
    margin: 0 0 0 371px;
    padding-top: 43px;
    width: 770px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 160px;
    height: 40px;
    font-size: 14px;
    font-family: 'Pragmatica ExtraLight Reg';
    color:#888888;
    border-radius: 4px;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
}

main {
    height: ;
}

footer {
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 293px;
    background: #707070 0% 0% no-repeat padding-box;
    opacity: 1;
}

#cutfooter { 
    width: 0; 
    height: 0; 
    border-left: 1500px solid #FFF; 
    border-bottom: 120px solid transparent;
    position: absolute
} 

footer p {
    padding-top: 157px;
    color: #FFF;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}

.container{
    display: flex;
    margin: 0 290px;
    width: 931px;
    flex-wrap: wrap;
}

#section1 {
    margin-top: 21px;
    height: 273px;
    width: 520px;
    color: #888888;
}

#section1 h2 {
    font-size: 20px;
}

#section1 p {
    margin-top: 30px;
    font-size: 12px;
    line-height: 18px;
}

#register {
    margin-left: 60px;
    margin-top: 21px;
    height: 303px;
    color: #888888;
    font-size: 12px;
}

#name, #email, #cpf {
    width: 340px;
    height: 30px;
    border: 1px solid #707070;
    margin-top: 7px;
    margin-bottom: 20px;
    opacity: 1;
}

.radio {
    height: 14px;
    padding-left:5px;
    font-size: 12px;
}

#male {
    height: 14px;
    width: 14px;
    vertical-align: sub;
}

#fem {
    margin-left: 40px;
    height: 14px;
    width: 14px;
    vertical-align: sub;
}

#send {
    width: 340px;
    height: 39px;
    margin-top: 23px;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
    background: #FFF;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 79px;
    margin-bottom: 50px;
    width: 100%;
}

.title::before,
.title::after {
    content: '';
    position: relative;
    height: 1px; 
    background: #888888; 
    min-width: 150px; 
    flex-grow: 1;
}

.title span{
    color: #888; 
    padding: 0 15px;
    font-weight: bold;
    font-size: 18px
}

.models {
    display: none;
}

.product {
    width: 201px;
    height: 350px;
    font-family: 'Pragmatica ExtraLight Reg';
    color:#888888;
}

.products-item--img {
    height: 150px;
    width: 200px;
    border: 1px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-item--name {
    height: 16px;
    width: 111px;
    margin-top: 14px;
    font-size: 14px;
}

.products-item--description {
    height: 60px;
    width: 200px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
}

.products-item--oldPrice {
    height:14px;
    width: 200px;
    font-size: 12px;
    line-height: 16px;
}

.products-item--price {
    height: 19px;
    width: 200px;
    margin-top: 6px;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}

.products-item--installments {
    height: 14px;
    width: 200px;
    margin-top: 6px;
    font-size: 12px;
    line-height: 16px;
}

#buy {
    height: 30px;
    width: 200px;
    font-size: 16px;
    margin-top: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1
}

.grid-1 {
    display: grid;
    grid-template-columns: 201px 41px 201px 41px 201px 41px 201px;
    grid-template-rows: 350px 39px 350px;
}

.item-1 {
    grid-column: 1;
    grid-row: 1;
}

.item-2 {
    grid-column: 3;
    grid-row: 1;
}

.item-3 {
    grid-column: 5;
    grid-row: 1;
}

.item-4 {
    grid-column: 7;
    grid-row: 1;
}

.item-5 {
    grid-column: 1;
    grid-row: 3;
}

.item-6 {
    grid-column: 3;
    grid-row: 3;
}

.item-7 {
    grid-column: 5;
    grid-row: 3;
}

.item-8 {
    grid-column: 7;
    grid-row: 3;
}

#showMore {
    margin-top: 52px;
    margin-bottom: 49px;
    margin-left: 334px;
    width: 260px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
}

#newsletter {
    width: 931px;
    height: 389px;
    font-family: 'Pragmatica ExtraLight Reg';
    color:#888888;
}

#txt {
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 39px;
    text-align: center;
}

#newsletter label {
    height: 14px;
    font-size: 12px;
}

#friendName, #friendEmail {
    width: 340px;
    height: 30px;
    border: 1px solid #707070;
    margin-top: 7px;
    margin-bottom: 20px;
    opacity: 1;
}

.box-2 {
    margin: 0 0 0 104px;
    width: 770px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#sendNow {
    margin-top: 50px;
    margin-bottom: 71px;
    margin-left: 334px;
    width: 260px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
}